.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding-top: 50px;
}

/* Host Controls Container */
.host-container {
  background: #f4f4f9;
  padding: 50px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  display: inline-block;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

.host-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 2px solid #007bff;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
}

.host-button {
  background-color: #2d8cff;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.host-button:hover {
  background-color: #1d73d6;
}

/* Zoom Container Setup */
#zmmtg-root {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
}
.input-field {
  width: 100%;
  background-color: #ffffff;
}
.meeting-start-btn {
  margin-top: 30px;
  width: 100%;
  background: linear-gradient(
    135deg,
    #2d8cff 0%,
    #1571d9 100%
  ); /* Blue Gradient */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(45, 140, 255, 0.3);
  transition: all 0.3s ease; /* Smooth transition */
  outline: none;
  position: relative;
  overflow: hidden;
}
